.modal-bg {
  position: fixed;
  inset: 0;
  background: rgba(15, 23, 42, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-box {
  background: #1f2937;
  padding: 25px;
  width: 400px;
  border-radius: 10px;
  color: white;
}

.modal-box input,
.modal-box textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 16px;
  border-radius: 6px;
  background: #111827;
  color: white;
  border: 1px solid #374151;
}

.modal-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
